/*Alert Styling*/

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p+p {
  margin-top: 5px;
}

.alert-info {
  color: #800000;
  background-color: #EFDFDF;
  border-color: #800000;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: all, 0.03s ease-out;
}

.alert-info:hover,
.alert-info:focus {
    color: #EFDFDF;
    background-color: #800000;
}

.alert-info > a {
    color: #800000;
    font-weight: bold;
}

.alert-info > a:hover {
    color: rgba(0,0,0,.4);
}