
html {
    font-family: 'Electrolize', sans-serif;
    display: flex;
  }
  @media only screen and (max-width: 700px) {
    h1{
        flex:100%;
        width:100%
      
    } 
}
    @media only screen and (min-width: 400px) {
        h1{
            flex:50%;
            width:50%;
            scale: 700%;
            
        }
}
h1{
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    color: white;
    padding: 50px 0;
    text-align: center;
    /* box-sizing: border-box; */
    /* border-style: dashed; */
    border-width: 1em;
    border-color: white;
    text-shadow: 1px 1px 1px black;
    margin: 40px auto;
    display:flex;
    scale:100%;

}
h2{
font-family: 'Electrolize';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 53px;
color: #1E1E1E;
}

h3{
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: #1E1E1E; 
}
h4{
font-family: 'Electrolize';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
color: #1E1E1E;
}

body{
color: white;
background-color: #24199F;
font-family: 'Electrolize';
font-style: normal;
/* display:grid; */


}

p{
    padding: 8rem;
    margin: 50px auto; 
}
@media only screen and (min-width: 400px) {
    a:link{
        display:grid; 
        width: 90%;
        flex:50%;
        float: inline-end;
        scale:50%;
    }
}
@media only screen and (max-width: 700px) {
    a:link{
        display:flex;
        color: red;
        position:relative;
        width: 100%;
        /* grid:100%; */
        scale: 100%;
       
    }
}
a:link{
    font-size: 20px;  
    border-style: solid;
    border-color: white;
    border-width: .2rem;
    
}
  a:visited {
    color: #FFFFFF;
  }

  a:hover {
    color: #AF85E4;
    text-decoration: none;
  }

 @media only screen and (max-width: 700px) {
    .body {
        flex-direction: inherit;
        flex:100%;
        /* background-color: #1E1E1E; */
        position: relative;
        width:100%;
        margin-top: -20px;
    }
  } 
 
  @media only screen and (min-width: 400px) {
    .body {
        width: 70%;
         /* background-color: orange; */
        flex: 50%;
        
    }
  }  

  
